body{
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}
.navigation{
    z-index:2;
    background-color:gold;
}

.nav-item{
    display: inline-block;
    width:19.3%;
    }

.nav-item a {
    display: block;
    text-align: center;
    padding: 1em 0;
    color: mediumpurple;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1em;
    transition: color 0.2s, background 0.4s;
}

.nav-item a:hover{
    color: white;
    font-weight: 600;
    background-color: mediumpurple;
}

.content{
    padding: 4em;
}

/* critical styles - hide the checkbox input */
    .nav-trigger{
        position:absolute;
        clip: rect(0,0,0,0);
    }

@media screen and (max-width:500px){
    
    /* Navigation Menu - Background */
    /* critical sizing and position styles */
    .navigation{
        width:200px;
        top:0;
        bottom: 0;
        left:-200px;
    }

    .nav-item{
        width:200px;
        border-top: 1px solid gold;
        border-bottom: 1px solid yellow;
    }

    .content {
        /* Critical position and size styles */
        box-sizing:border-box;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        background-color: white; /* Needs a background or else the nav will show through */
        top: 0;
        bottom: 100%;
        left: 0;
        z-index: 1;
      /* non-critical apperance styles */
    }

    /* Nav Trigger */
    /* critical positioning styles */
    label[for="nav-trigger"]{
        position: fixed;
        left: 15px;
        top: 15px;
        z-index:2;
    /*  apperance properties  */
        height: 30px;
        width:30px;
        cursor:pointer;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='24' width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='12' width='30' height='6' style='fill:rgb(147,112,219)'/></svg>");
        background-size:contain;
    /*Animation ;)*/
        -moz-animation-name: form-color;
        -moz-animation-duration: 4s;
        -moz-animation-delay: 6s;
        -moz-animation-direction: alternate;
        -moz-animation-iteration-count:4;
        -webkit-animation-name: form-color;
        -webkit-animation-duration: 4s;
        -webkit-animation-delay: 6s;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count:4;
        -o-animation-name: form-color;
        -o-animation-duration: 4s;
        -o-animation-delay: 6s;
        -o-animation-direction: alternate;
        -o-animation-iteration-count:4;
        animation-name: form-color;
        animation-duration: 4s;
        animation-delay: 6s;
        animation-direction: alternate;
        animation-iteration-count:4;
    }

    
    @keyframes form-color{
        0%{
           background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='24' width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='12' width='30' height='6' style='fill:rgb(147,112,219)'/></svg>");
        }
        25%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='5' style='fill:rgb(238,130,238)'/></svg>");
        }
        50%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='4' style='fill:rgb(238,130,238)'/></svg>");
        }
        75%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='4' style='fill:rgb(255,215,0)'/></svg>");
        }
        100%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='3' style='fill:rgb(255,215,0)'/></svg>");
        }
    }
    
    @-webkit-keyframes form-color{
        0%{
           background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='24' width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='12' width='30' height='6' style='fill:rgb(147,112,219)'/></svg>");
        }
        25%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='5' style='fill:rgb(238,130,238)'/></svg>");
        }
        50%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='4' style='fill:rgb(238,130,238)'/></svg>");
        }
        75%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='4' style='fill:rgb(255,215,0)'/></svg>");
        }
        100%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='3' style='fill:rgb(255,215,0)'/></svg>");
        }
    }
    
    @-moz-keyframes form-color{
        0%{
           background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='24' width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='12' width='30' height='6' style='fill:rgb(147,112,219)'/></svg>");
        }
        25%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='5' style='fill:rgb(238,130,238)'/></svg>");
        }
        50%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='4' style='fill:rgb(238,130,238)'/></svg>");
        }
        75%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='4' style='fill:rgb(255,215,0)'/></svg>");
        }
        100%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='3' style='fill:rgb(255,215,0)'/></svg>");
        }
    }
    
    @-o-keyframes form-color{
        0%{
           background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='24' width='30' height='6' style='fill:rgb(147,112,219)'/><rect y='12' width='30' height='6' style='fill:rgb(147,112,219)'/></svg>");
        }
        25%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='5' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='5' style='fill:rgb(238,130,238)'/></svg>");
        }
        50%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='24' width='30' height='4' style='fill:rgb(238,130,238)'/><rect y='12' width='30' height='4' style='fill:rgb(238,130,238)'/></svg>");
        }
        75%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='4' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='4' style='fill:rgb(255,215,0)'/></svg>");
        }
        100%{
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='24' width='30' height='3' style='fill:rgb(255,215,0)'/><rect y='12' width='30' height='3' style='fill:rgb(255,215,0)'/></svg>");
        }
    }
    /*functional part*/

    .nav-trigger + label, .navigation{
        transition: left 0.2s;
    }

    .nav-trigger:checked + label {
        left:215px;
    }

    .nav-trigger:checked ~ .navigation {
        left: 0px;
        box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
        -o-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
        position: relative;
    }

    body{
        overflow-x: hidden;
    }
}